.alert-success-message {
    display: none;
}

.alert-danger-message {
    display: none;
}

.unstyled-list {
    list-style: none;
    padding-left: 10px;
}

.list-unstyled {
    padding-left: 10px;
    padding-top: 5px;
}

.team_image {
    width: 20%;
}

a {
    color: white;
}

.navbar-default {
    background-color: #1D428A;
}

.sidebar ul li a.active {
    background-color: #2450A8;
}

.sidebar ul li a.active:hover {
    color: white;
}

.sidebar ul li a.active:focus {
    color: white;
}

li label {
    font-weight: 400;
}

.navbar-default .navbar-brand {
    color: white;
}

.btn-primary {
    background-color: #1D428A;
    border-color: #153065;
}

.btn-danger {
    background-color: #B8231F;
    border-color: #9D1F1B;
}